
/* Start:/local/templates/main_v2/components/bitrix/catalog.search/artopt/style.css?1519840996163*/
a.search-page-params {
	border-bottom: 1px dashed blue;
	text-decoration: none;
}
div.search-page-params {
	margin-top: 6px;
}
.search-item-rate {font-size: 11px;}
/* End */
