.b-products__list {
  margin: 26px 0 23px;
  padding: 0;
  position: relative;
  border-top: 1px solid #e6e6e6;
  font-size: 0;
}

.b-products__item {
  position: relative;
  display: inline-block;
  min-width: 150px;
  margin: 0;
  vertical-align: top;
  height: 336px;
  box-sizing: border-box;
  border: 1px solid #e6e6e6;
  border-top: none;
}

.b-products__item:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

.b-products__item--ha{
  height: auto;
}

.b-products__item-container {
  padding: 14px 13px;
}

.b-products__item + .b-products__item {
  margin-right: -1px;
}

.b-products__item:last-of-type {
  border-right: 1px solid #e6e6e6;
}

.b-products__item:first-of-type {
  border-right: 1px solid transparent;
  margin-right: -1px;
}

.b-products__item.double-size {
  padding: 14px 13px;
  margin-right: -1px;
}

.b-products__item.double-size .b-product__image {
  max-height: 190px;
}

.b-products__item.double-size .b-products__item-container > a,
.b-products__item.double-size .b-products__item-container .b-product__image-link {
  height: 190px;
}

.b-product__image {
  max-width: 100%;
  max-height: 190px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.b-products__item-container > a {
  height: 190px;
  display: block;
  text-align: center;
  position: relative;
}

.b-product__title {
  height: 35px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
  line-height: 18px;
  margin: 20px 0 26px;
  padding: 0 4px;
}
.b-product__title--nomargin{
  margin: 0;
}

.b-product__title a {
  color: #000;
  font-family: 'Open Sans';
  font-size: 13px;
}

.b-product__title a:hover {
  color: #666699;
}

.b-product__price {
  font-size: 22px;
  margin-bottom: 11px;
  padding: 0 4px;
}

.b-product__price a {
  float: right;
  margin-top: 6px;
}

.star {
  background: url(../img/star.jpg) no-repeat;
  width: 30px;
  height: 23px;
  display: inline-block;
  float: right;
}

.ico-delivery2 {
  background: url(../img/img2.jpg) no-repeat;
  width: 30px;
  height: 23px;
  float: right;
  margin: 0 -11px 0 5px;
}

.old-price {
  color: #878787;
  font-size: 13px;
  text-decoration: line-through;
  font-weight: normal;
  margin-left: 11px;
}

.b-product__price span em {
  font-style: normal;
  font-size: 13px;
}

.catalog-tab__footer-item {
  color: #878787;
  white-space: nowrap;
  font-size: 13px;
  transition: all 0.1s ease;
}

.catalog-tab__footer-item:hover {
  color: #000;
}

.catalog-tab__footer-item .ico {
  margin: 3px 0 0;
}

.catalog-tab__list-item {
  line-height: 20px;
  position: relative;
  display: inline-block;
  padding: 0 16px 0 0;
  vertical-align: middle;
  color: #7474a3;
  font-size: 13px;
}

.catalog-tab__list-item:after {
  position: absolute;
  top: 9px;
  right: 7px;
  width: 3px;
  height: 3px;
  content: '';
  background: #c4c4ca;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.catalog-tab__list-item:last-child:after {
  display: none;
}

.catalog-tab__list-item:hover {
  color: #000;
}

.b-catalog__sidebar {
  width: 300px;
}

.b-catalog__section {
  padding-left: 330px;
}

/* catalog */
.b-content-switchers {
  position: relative;
  padding: 0;
  margin: 0 0 25px 0;
  width: auto;
  height: 49px;
  background-color: #fafafa;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
}

.b-content-switchers--left {
  position: absolute;
  left: 0;
  height: 50px;
}

.b-content-switchers--right {
  position: absolute;
  right: -1px;
}

.b-content-switchers__control-label {
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  margin: 0 9px 0 0;
  padding: 0;
  font-size: 13px;
  color: #878787;
}

.b-content-switchers__btn-group {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
}

.b-content-switchers__btn-group .btn {
  height: 50px;
  width: 45px;
  padding: 0;
  min-width: 45px;
  border-radius: 0;
  background-color: #fafafa;
}

.b-content-switchers__btn-group .btn.active {
  background-color: #878787;
}

.b-content-switchers__btn-group .btn:hover {
  background-color: #878787;
}

.b-content-switchers__btn-group .btn:hover .icon div {
  background-color: #fff;
}

.b-product__label-group{
  position: absolute;
  left: 13px;
  top: 14px;
  font-size: 14px;
}
.b-labels__item{
  display: block;
  color: #fff;
  margin-bottom: 3px;
  //left: 1px;
  //top: 1px;
  position: relative;
  height: 30px;
  line-height: 30px;
  padding: 0 12px;
}
.b-labels__item:after{
  content: "";
  position: absolute;
  right: -15px;
  top: 0;
  width: 0;
  height: 0;
  border-width: 30px 15px 0 0;
  border-style: solid;
}
.b-labels__item--action{
  background: @main_color_2;
}
.b-labels__item--action:after{
  border-color: @main_color_2 transparent transparent;
}
.b-labels__item--benefit{
  background:@main_color;
}
.b-labels__item--benefit:after{
  border-color: @main_color transparent transparent;
}
.b-labels__item--bestprice{
  background: #19c697;
}
.b-labels__item--bestprice:after{
  border-color: #19c697 transparent transparent;
}