.feedback-create {
  width: 720px;
}
.feedback-create > p {
  margin: 0 0 30px;
  font-size: 13px;
  font-weight: bold;
}
.feedback-create .feedback-create-positive {
  width: 350px;
  margin-right: 20px;
}
.ms-box-coment {
  position: relative;
}
.ms-box-coment:before {
  content: '';
  display: block;
  width: 0;
  border: 10px solid transparent;
  border-top: 10px solid #e26a69;
  position: absolute;
  top: 13px;
  left: 181px;
  z-index: 1;
  opacity: 0;
}
.feedback-create .feedback-create-positive, .feedback-create .feedback-create-negative {
  float: left;
}
.feedback-create .feedback-create-negative {
  width: 350px;
}
.feedback-create .feedback-create-positive p, .feedback-create .feedback-create-negative p {
  font-size: 13px;
  margin-bottom: 12px;
}
.feedback-create .feedback-create-positive textarea, .feedback-create .feedback-create-negative textarea {
  resize: none;
  outline-color: @main_color;
  -moz-outline-color: @main_color;
  width: 348px;
  height: 94px;
  border: 1px solid #ddd;
}
.ms-box-coment:after {
  content: '';
  display: inline-block;
  line-height: 16px;
  padding: 8px 15px;
  min-width: 150px;
  border-radius: 3px;
  box-shadow: 0 1px 5px 1px rgba(0,0,0,0.15);
  position: absolute;
  top: -20px;
  left: 0;
  background-color: #e26a69;
  color: #fff;
  font-size: 13px;
  text-align: center;
  opacity: 0;
  transition: opacity .3s ease-out;
}
.feedback-create .feedback-create-positive textarea, .feedback-create .feedback-create-negative textarea {
  resize: none;
  outline-color: @main_color;
  -moz-outline-color: @main_color;
  width: 348px;
  height: 94px;
  border: 1px solid #ddd;
}
.feedback-create-negative:after {
  //content: 'Укажите недостатки';
  //left: 99px;
  //top: -16px;
}
.feedback-create .feedback-create-comments {
  margin-top: 22px;
}
.feedback-create .feedback-create-comments textarea {
  resize: none;
  outline-color: @main_color;
  -moz-outline-color: @main_color;
  width: 718px;
  height: 94px;
  border: 1px solid #ddd;
}
.feedback-create-comments:after {
  //content: 'Отставте свой отзыв';
  //left: 99px;
  //top: -16px;
}
.feedback-create form > p {
  font-size: 13px;
  margin-top: 30px;
  margin-bottom: 36px;
}
.feedback-create .feedback-create-personal > div {
  float: left;
  width: 278px;
  margin-right: 22px;
}
.feedback-create .feedback-create-personal input {
  outline-color: @main_color;
  box-shadow: none;
  border: 1px solid #ddd;
  border-radius: 3px;
}
.feedback-create .feedback-create-personal > div > input {
  width: 278px;
  height: 31px;
  line-height: 31px;
}
.feedback-create-personal-name:after {
  //content: 'Ваше имя';
  //left: 99px;
  //top: -16px;
}
.feedback-create .feedback-create-personal > div {
  float: left;
  width: 278px;
  margin-right: 22px;
}
.feedback-create .feedback-create-personal > input {
  float: left;
  margin-top: 19px;
  height: 33px;
}
.feedback-create .feedback-create-personal > div > input {
  width: 278px;
  height: 31px;
  line-height: 31px;
}
.input-error{
  border-color: #f60000!important;
}
.b-goods__good-feedback-bubble .coment-block {
  padding: 15px 27px;
  padding-bottom: 35px;
}
.bubble_top {
  width: 100%;
  height: 15px;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff7d6;
  border-top-right-radius: 4px;
  z-index: 1;
}
.b-goods__good-feedback-bubble {
  background: #fff7d6;
  /* padding: 15px 27px; */
  height: auto;
  font-size: 13px;
  line-height: 18px;
  border-radius: 4px;
  position: relative;
  margin-bottom: 24px;
}
.b-goods__good-feedback-bubble p {
  margin-bottom: 0;
}
.bubble-marker {
  position: absolute;
  left: -5px;
  top: 15px;
  width: 13px;
  height: 15px;
  background: url(../img/bubble-marker.png) top left no-repeat;
}
.bubble-corner {
  position: absolute;
  left: 33px;
  bottom: -16px;
  width: 16px;
  height: 16px;
  background: url(../img/bubble-corner.png) top left no-repeat;
}
.bubble_bottom {
  width: 100%;
  height: 35px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff7d6;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-left: 27px;
  display: block;
  border-bottom-right-radius: 4px;
}
.b-goods__good-span-more-info {
  background: url(../img/moreinfo.png) left top no-repeat;
  width: 23px;
  height: 13px;
  display: inline-block;
  position: relative;
  top: 3px;
  cursor: pointer;
}
.b-goods__good-feedback-bubble .b-goods__good-span-more-info {
  display: block;
}