.b-makeorder__fastorder span.error-tooltip {
    display: none;
    position: absolute;
    padding: 9px 16px;
    background: #e26a68;
    color: #fff;
    width: auto!important;
    height: 13px;
    font-size: 13px;
    line-height: 13px;
    left: 50%;
    z-index: 1;
    top: -55px;
    border-radius: 3px;
}
.b-makeorder__fastorder span.error-tooltip#error-mobile {
    margin-left: -90px;
}
.b-makeorder__fastorder span.error-tooltip#error-name {
    margin-left: -90px;
}

.b-makeorder__fastorder span.error-tooltip .error-triangle {
    display: block;
    position: absolute;
    width: 0!important;
    height: 0!important;
    border: 7px solid #e26a68;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-width: 10px;
    bottom: -16px;
    left: 50%;
    margin-left: -7px !important;
}

.b-makeorder__fastorder input.b-makeorder__adress-error {
    border-color: #e26a68;
}

div.b-makeorder__adress-error {
    border-color: #e26a68 !important;
}

.your-city-link-holder .your-city-dropdown {
    z-index: 10;
}